body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* General styles for header and footer */
header, footer {
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    padding: 1em;
}

/* Styles for the main content */
main {
    padding: 20px;
}

/* Form styles */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto; /* Center the form */
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Table container styles */
.table-container {
    max-width: 400px;
    margin: 0 auto;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

/* Styles specifically for login page */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* Styles for result page */
.result-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.result-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styles for main page */
.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
